{% extends 'Home/Base.html' %}
{% load static %}
{% block main %}
<!-- Breadcrumb Start -->
            <div class="breadcrumb-wrap">
                <div class="container-fluid">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Products</a></li>
                        <li class="breadcrumb-item active">Cart</li>
                    </ul>
                </div>
            </div>
            <!-- Breadcrumb End -->
            
            <!-- Cart Start -->
            <div class="cart-page">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="cart-page-inner">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody class="align-middle">

                                        {% for item in cart.get_items %}

                                            <tr>
                                                <td>
                                                    <div class="img">
                                                        <a href="#"><img src="{{item.product.image_url}}" alt="Image"></a>
                                                        <p>{{item.product.title|capfirst}}</p>
                                                    </div>
                                                </td>
                                                <td>Rs {{item.product.selling_price}}</td>
                                                <td>
                                                    <div class="qty">
                                                        <button class="UpdateCart btn-minus" data-productid="{{item.product.id}}" data-action="decrement"><i class="fa fa-minus"></i></button>
                                                        <input type="text" value="{{item.quantity}}">
                                                        <button class="UpdateCart btn-plus" data-productid="{{item.product.id}}" data-action="increment"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                </td>
                                                <td>Rs {{item.item_selling_price}}</td>
                                                <td><button><i class="UpdateCart fa fa-trash" data-productid="{{item.product.id}}" data-action="remove"></i></button></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart-page-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="coupon">
                                            <input type="text" placeholder="Coupon Code">
                                            <button>Apply Code</button>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="cart-summary">
                                            <div class="cart-content">
                                                <h1>Cart Summary</h1>
                                                <p>Sub Total<span>Rs {{cart.get_order.total_selling_price}}</span></p>
                                                <p>Shipping Cost<span>Free</span></p>
                                                <h2>Grand Total<span>Rs {{cart.get_order.total_selling_price}}</span></h2>
                                            </div>
                                            <div class="cart-btn">
                                                <button>Update Cart</button>
                                                <button>Checkout</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Cart End -->
{% endblock %}

{% block script %}
<script type="text/javascript">
var update=document.getElementsByClassName('UpdateCart');
for(i=0;i<update.length;i++){
    update[i].addEventListener('click',function(){
        var action=this.dataset.action;
        var productid=this.dataset.productid;
        addtocart(action,productid);
    })
}
function addtocart(action,productid){
     $.ajax({
        url: "{% url 'Shop:UpdateCart' %}",
        data: {
          'action':action,
          'productid':productid
        },
        dataType: 'json',
        success: function (data) {
          if (data.status) {
            document.getElementById('cart_count').innerHTML=data.cart_count;
            location.reload();
          }
          else{
            alert(data.message);
          }
        }
      });
}
</script>
{% endblock %}
